<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'ID: ' + ${id}" />
<p th:text="'Country: ' + ${country}" />
<p th:text="'Country Code: ' + ${countryCode}" />
<p th:text="'Slug: ' + ${slug}" />
<p th:text="'NewConfirmed: ' + ${newConfirmed}" />
<p th:text="'TotalConfirmed: ' + ${totalConfirmed}" />
<p th:text="'NewDeaths: ' + ${newDeaths}" />
<p th:text="'TotalDeaths: ' + ${totalDeaths}" />
<p th:text="'NewRecovered: ' + ${newRecovered}" />
<p th:text="'TotalRecovered: ' + ${totalRecovered}" />
<p th:text="'Date: ' + ${date}" />
</body>
</html>